*{
    margin: 0;
    padding: 0;
}

.showing_movie_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showing_movie_card-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: white;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 385px;
    height: 520px;
    margin:8%;
    cursor: pointer;
}

.showing_movie_card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.showing_movie_card-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 140px;
    border-radius: 30%;
}

.showing_movie_card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showing_movie_card-titel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
    /* font-size: 24px; */
}

.showing_movie_card-titel p{
    display: flex;
    font-size: 22px;
    font-family: Rockwell, "Courier New", Courier, Georgia,Times, "Times New Roman", serif;
    justify-content: center;
    font-weight: bold;
    color: rgba(35,30,35,1);
}

.showing_movie_card-titel h4{
    font-size: 14px;
    text-align: center;
}

.showing_movie_card_chapter{
    font-size: 10px;
    padding: 2rem;
    text-align: center;
}

.showing_movie_card-details{
    font-size: 16px;
    font-family: Rockwell, "Courier New", Courier, Georgia,Times, "Times New Roman", serif;
    font-weight: bold;
    color: rgba(122,116,120,1);
}

.showing_movie_card-container button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-family: Rockwell, "Courier New", Courier, Georgia,Times, "Times New Roman", serif;
    font-weight: bold;
    color: rgba(122,116,120,1);
    background-color: white;
    cursor: pointer;
    border-width: 1px;
    border-color: rgba(112,112,112,1);
}

.showing_movie_card-rating{
    margin: 5px 0;
}