.packageContainer{
    width: 230px;
    height: 300px;
    border: 2px solid rgb(213, 207, 207);
    margin-top: 40px;
    text-align: center;
    /* margin-right: 25px; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.packageContainer:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.packageNames{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 18px;
    margin-top: 40px;

}

.packageLocation{
    font-family: 'Lato';
    font-size: 12px;
    color: grey;
}

.packageDel{
    margin-top: 30px;
    align-items: center;
    
}

.packageDelBtn{
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    font-family: 'Lato';
    font-weight: 800;
    font-size: 16px;
    background-color: white;
    margin-left: 60px;

}
.packageDelBtn:hover{
    color: white;
    background-color: #23cdaf;
    border: #23cdaf;
    transition: all ease 0.2s;

}

.packageDec{
    font-size: 12px;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}