* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.signup-container{
  display: flex;
  flex-direction: column;
  background-color: azure;
  background-size:cover;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

.cancelBtn{
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.cancelBtn button{
    
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
  
}

.signup-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  height: 500px;
  width: 60%;
  border-radius: 10px;
}

.signup-form-container p{
  color: red;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

/* .input-container p{
  color: red;
  font-size: 13px;
  padding-top: 5px;
}

.login-form-1 form p{
  color: red;
  font-size: 13px;
  padding-bottom: 5px;
} */

.signup-form-titel{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
  /* padding: 8%; */
}

.titel-1{
  display: flex;
  width: 50%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.titel-2{
  display: flex;
  width: 50%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.titel-onClick{
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.titel-1:hover {
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2s;
}
.titel-2:hover {
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2s;
}

.signup-form-1{
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signup-form-1 form{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.signup-row{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.input-container{
  padding-bottom: 20px;
}

.input-container input{
  padding-left: 10px;
  border-radius: 5px;
  background: whitesmoke;
  width: 350px;
  height: 40px;
}
.input-container-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.input-container-btn button{
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  font-family: 'Lato';
  font-weight: 800;
  font-size: 16px;
  border: 1px solid;
  background-color:  azure;
  /* margin-left: 60px; */

}
.input-container-btn button:hover{
  color:  azure;
  background-color: #23cdaf;
  border: 1px solid #23cdaf;
  transition: all ease 0.2s;

}

.signup-column-1{
  margin-right: 10%;
}
.signup-column-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.signup-error p{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.input-container a{
  display: flex;
  justify-content: center;
}