@import url('https://fonts.googleapis.com/css?family=Montserrat');

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.footer-container{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 5% 0;
}

.footer-container h4{
    margin-bottom: 1rem;
    font-family: "Montserrat";
}
.footer-container p{
    margin-bottom: 2px;
    font-family: "Montserrat";
}